<div class="wrapper">
  <form class="text-center w-50" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">Sign up</p>

    <input type="text" class="form-control mb-2" placeholder="First name" formControlName="firstName">
    <small class="form-text text-muted"
      *ngIf="form.formGroup.controls['firstName'].invalid && form.formGroup.controls['firstName'].touched">
      first name required</small>
    <small class="form-text text-muted mb-2"
      *ngIf="formGetter.firstName.errors && form.formGroup.controls['firstName'].dirty">
      First name must be at 5 characters minimum</small>

    <input type="text" class="form-control mb-2" placeholder="Last name" formControlName="lastName">
    <small class="form-text text-muted"
      *ngIf="form.formGroup.controls['lastName'].invalid && form.formGroup.controls['lastName'].touched">
      last name required</small>
    <small class="form-text text-muted mb-2"
      *ngIf="formGetter.lastName.errors && form.formGroup.controls['lastName'].dirty">
      Last name must be at 5 characters minimum</small>

    <input type="email" class="form-control mb-2" placeholder="E-mail" formControlName="email">
    <small class="form-text text-muted"
      *ngIf="form.formGroup.controls['email'].invalid && form.formGroup.controls['email'].touched">
      email required</small>
    <small class="form-text text-muted mb-2" *ngIf="formGetter.email.errors && form.formGroup.controls['email'].dirty">
      Email must be a valid email address (example@mail.com)</small>

    <input type="tel" class="form-control mb-2" placeholder="Phone" formControlName="phone">
    <small class="form-text text-muted"
      *ngIf="form.formGroup.controls['phone'].invalid && form.formGroup.controls['phone'].touched">
      phone required</small>
    <small class="form-text text-muted mb-2" *ngIf="formGetter.phone.errors && form.formGroup.controls['phone'].dirty">
      Phone must be a valid phone number (0631234567)</small>

    <input type="password" class="form-control mb-2" placeholder="Password" formControlName="password">
    <small class="form-text text-muted"
      *ngIf="form.formGroup.controls['password'].invalid && form.formGroup.controls['password'].touched">
      password required</small>
    <small class="form-text text-muted mb-2"
      *ngIf="formGetter.password.errors && form.formGroup.controls['password'].dirty">
      Password must be 8 numbers</small>

    <button class="btn btn-info my-2 btn-block" type="submit" [disabled]="form.formGroup.invalid">Sign up</button>

    <p>Have an account?
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
    </p>

  </form>
</div>