<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h2>Hello world!</h2>
      <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint est modi animi a dolorum natus temporibus quo
        laborum at laudantium.</h5>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let article of articles">
      <h3>{{article.title}}</h3>
      <p>{{article.content}}</p>
      <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a></p>
    </div>
  </div>
</div>