<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, inventore?</p>
      <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, inventore?</p>
      <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, inventore?</p>
      <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a></p>
    </div>
  </div>
</div>