<div class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <a class="navbar-brand" href="#">NG-BLOG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let nav of nav.navs">
        <a class="nav-link" routerLink="{{nav.routerLink}}" routerLinkActive="active-link">{{nav.name}}</a>
      </li>
    </ul>
    <div class="nav-item active logout">
      <a class="nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
</div>